html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1{
    color: #0F8CDF;
    margin-bottom: 10px;
    font-size: 20px;
}

i{
    font-size: 15px;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main, header{
    width: 290px;
    margin: 0 auto;
}

header{
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail-reply{
    display: flex;
    padding: auto;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

/* utility */
.hidden{
    display: none;
}



/* Reply tweet */

.reply-main {
   /*  display: none; */
   display: flex; 
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-right: 15px;
   background-color: rgba(148, 177, 181, 0.516);
   border-radius: 5px;
}
.reply-btns-div{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    gap: 10px;
}

.reply-btn {

    width: 125px;
    font-size: 9px;
    padding: auto;
 

}

.reply-btn, 
.tweet-detail-reply:hover {
    cursor: pointer;
}

.reply-text-area {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-left: 30px;
  /*   padding-left:20px;
   */

}



/* .reply-btns-div{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
} */

/* .reply-btns-div{
    display: flex;
    gap: 4px;
} */